body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(23, 23, 23);
    color: rgb(222, 222, 222);
}

h1{
    margin-bottom: 7px;
    margin-top: 2%
}

button{
   /*  /* rgb(53, 119, 172);*/
    border: none;
    background-color: rgb(58, 58, 58);
    border-radius: 7px;
    color: rgb(222, 222, 222);
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 30px;
}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(58, 58, 58), rgb(48, 48, 48));
}

p{
    margin-top: 1px;
    text-align: center;
    color: rgb(222, 222, 222);
}

input{
    width:420px;
    height:20px;
    border: none;
    margin:1px;
    background-color: rgb(222, 222, 222);
    padding: 10px;
    border-radius: 7px;
    font-size: 15px;
    margin:5px;
    font-weight: bold;
}

img{
    width:170px;
    height:170px;
    border-radius: 100%;
    margin-bottom: 12px;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.54);
}

footer{
    font-size: small;
    margin-top: 10%;
}